.banner {
    position: relative;
    width: 100%;
    min-height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-desktop-and-up {
        max-height: 30vh;
    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;

        img {
            @include object-fit(cover);
            height: 100%;
            width: 100%;
        }
    }

    &-text-box {
        max-width: 800px;
        text-align: center;
        padding: 3rem;
        
        .banner-title {
            text-transform: uppercase;
            margin-top: 0;
            line-height: 1;
        }

        .banner-body p {
            font-size: 1rem;

            @include for-tablet-and-up {
                font-size: 1.25rem;
            }
        }

        .banner-link {
            @include primary-btn;
        }
    }
}