.breadcrumbs {
	position: absolute;
	padding-inline-start: 0px;
	top: 80px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 4;

	li {
		display: inline;
		height: 30px;
		list-style-type: none;
		text-decoration: none;
		direction: rtl; /*The collection of HTML nodes produced by the View starts with the deepest page*/
		@include breadcrumb-divider;

		a {
			text-decoration: none;
			white-space: nowrap;
		}

		.active {
			color: $color-grey;
		}

		&:last-child {
			@include breadcrumb-divider-hidden;
		}

		&:only-child {
			display: none;
		}

		@include for-phone-only {
			&:first-child, &:last-child, &:not(:nth-last-child(3)):not(:nth-last-child(2)) {
				display: none;
			}
		}
	}

	@include for-tablet-and-up {
		width: 100%;
		top: 110px;
		justify-content: start;
		padding-left: 180px;
	}
}
