.breadcrumbs {
	position: absolute;
	padding-inline-start: 0px;
	top: 80px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 4;

	li {
		display: none;
		height: 30px;
		list-style-type: none;
		text-decoration: none;
		direction: rtl;

		a {
			text-decoration: none;
			white-space: nowrap;
		}

		.active {
			color: $color-grey;
		}
	}

	li:nth-last-child(2), li:nth-last-child(3) {
		display: inline;
	}

	li:nth-last-child(2) {
		&:after {
			padding-left: 5px;
			content: "/";
			color: $color-grey;
			padding-right: 5px;
		}
	}

	li:first-child {
		display: none;
	}

	li:nth-child(2) {
		content: none;
	}

	@include for-tablet-and-up {
		top: 150px;

		li, li:first-child {
			display: inline;
		}

		li:nth-child(n+2) {
			&:after {
				padding-left: 5px;
				content: "/";
				color: $color-grey;
				padding-right: 5px;
			}
		}

		li:first-child {
			&:after {
				content: none;
			}
		}
	}

	@include for-desktop-and-up {
		justify-content: start;
		top: 95px;
		left: 200px;
		transform: none;
	}
}
