.callout {
    width: 100%;

    a {
        text-decoration: none;
    }
    
    &__body {
        padding: $base-padding;
        text-decoration: none;
        color: $color-text;
        text-align: center;
    }

    &__title {
        @extend h4;
        margin-top: 0;
        text-decoration: none;
    }

    &__button {
        @include secondary-btn;
    }
}
