.callout {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    &__wrapper {
        display: block;
        text-decoration: none;

        @include for-tablet-and-up {
            display: flex;
            flex-direction: row-reverse;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__image-wrapper {
        flex: 1;
        
        img {
            padding: calc(#{$base-padding} / 2);

            @include for-tablet-and-up {
                padding: $base-padding;
            }
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 1rem;
        text-decoration: none;
        color: $color-text;
        text-align: center;

        @include for-tablet-and-up {
            padding: 2rem;
            text-align: left;
            align-items: flex-start;
        }
    }

    &__title {
        @extend %h4;
        margin-top: 0;
        text-decoration: none;
        max-width: 500px;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    &__text {
        max-width: 500px;
    }

    &__button {
        @include secondary-btn;
        margin: 1rem 0;

        &[href^="tel:"] {
            border: none;
            background: none; 
            font-size: 1.6rem;
            position: relative;

            &:hover {
                color: lighten($color-button, 5%);
            }

            &:before {
                content: "";
                background-image: url(assets/img/icon-phone.svg);
                width: 20px;
                display: block;
                height: 45px;
                position: absolute;
                left: -15px;
                background-size: 100%;
                background-repeat: no-repeat;
                top: 8px;
            }
        }
    }
}


.list {
    .callout {
        &__wrapper {
            display: block;
        }

        &__body {
            text-align: center;
            justify-content: flex-start;
            align-items: center;
            padding: calc(#{$base-padding} / 2) 15%;

            &--no-image {
                padding-top: 2rem;
            }
        }

        &__image-wrapper {
            img {
                padding: 0;
            }
        }

        &__title {
            @extend %h5;
            max-width: 90%;
        }

        &__text {
            max-width: 90%;
        }
    }
}

.callout-questionpage {
    display: flex;
    flex-direction: column;
    text-align: left;

    .questionpage-question {
        @extend %p;
        color: $color-text;
        font-weight: 700; 
        border-bottom: 1px solid $color-grey-light;
        font-stretch: condensed;
    }

    .after-content .list-wrapper.list-onecolumn & {
        @include for-tablet-and-up {
            max-width: 700px;
            width: 100%;
            margin: auto !important;
        }
    }
}