.cookieinformation {
	display: block;
	background-color: $color-white;
	border-top: 1px solid $color-grey;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	&.is-hidden {
		display: none;
	}

	&-container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;
	}

	&-body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-link {
		display: none;
	}

	&-clearbtn {
		@include primary-btn();
	}
}
