.header-navigation {
	position: absolute;
	width: 100%;
	height: 93px;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;

	.menu-button {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background: white;
		background-position: center;
		background-image: url(assets/img/icon-menu.svg);
		background-repeat: no-repeat;
		position: relative;
	}

	.menu-list {
		display: none;
	}


	.logo {
		background-position: center;
		background-image: url(assets/img/logotype.png);
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;
		background-size: 100%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.login-wrapper {
		min-width: 20px;
		width: 99px;
		height: 44px;
		background: $color-blue-nice;
		border-radius: 15px;
		padding: 8px 15px;
		color: white;
		font-size: 1.2rem;
		font-weight: 600;
		white-space: nowrap;
		/*TODO: media query show before element with icon on desktop*/
	}
}

.mobile-menu-open {
	height: 100%;
	background: $color-white;

	.login-wrapper {
		display: none;
	}

	.menu-list {
		position: absolute;
		padding-inline-start: 0px;
		padding-top: 120px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		display: block;
		list-style-type: none;
		text-align: center;

		&__item {
			color: $color-black;
			font-size: 50px;
			font-size: 23px;
			line-height: 2.35;
			letter-spacing: 0.58px;
		}
	}
}
