.list {
    @include container;
    text-align: center;

    @include for-tablet-and-up {
        padding: 2rem $half-grid-gap;
    }

    &-link {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
        a {
            @include secondary-btn;
        }
    }

    &-categoryfilterwrap {
        display: flex;
        margin: 0 0.5rem;

        @include for-tablet-and-up {
            max-width: 700px;
            width: 100%;
            margin: auto;
        }
    }

    .list-title,
    .list-description {
        max-width: 800px;
        margin: 0 auto;
        padding: $base-padding;
    }

    .list-title{
        @extend %h5;
        color: $color-text;
        border-bottom: 5px $color-blue-lightest-power solid;
        display: inline-block;
        margin-bottom: 2rem;
        margin-top: 3rem;
        padding: 1rem 0 0.5rem;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-stretch: condensed;
    }
}

.list--white-background {
    background: white;
    max-width: none;
}


.list--white-teasers {
    .callout {
        background: white;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.05);
    }
}

.list--single-row {
    @include for-tablet-and-up {
        .list-wrapper {
            flex-wrap: nowrap;
        }
    
        .callout {
            flex: 1;
            flex-basis: auto;
        }

        .callout__body {
            padding: 0.5rem;
        }
    }
}

.list--ping-pong {
    .list-title {
        margin-bottom: 4rem;
    }

    .callout {
        margin-bottom: 3rem;

        &__image-wrapper {
            flex: 0.9;
        }

        &__title {
            font-size: 2.5rem;
        }
    }


    @include for-tablet-and-up {
        .list-wrapper{
            .callout {
                .callout__wrapper {
                    flex-direction: row;
    
                    .callout__body {
                        padding: 2rem;
                        text-align: center;
                        align-items: center;
                        
                        @include for-tablet-and-up {
                            text-align: left;
                            align-items: flex-start;
                            justify-content: center;
                        }
                    }
    
                    .callout__title,
                    .callout__text,
                    .callout__button {
                        @include for-desktop-and-up {
                            margin-right: 3rem;
                        }
                    }
                }
    
                &:nth-child(even) {
                    .callout__wrapper {
                        flex-direction: row-reverse;
    
                        .callout__title,
                        .callout__text,
                        .callout__button {
                            @include for-desktop-and-up {
                                margin-left: 3rem;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}