.standard-page {
    .feature-area {
        .banner:first-of-type {
            .banner-overlay {
                @include for-phone-only {
                    padding-top: $header-height;
                } 
            }
        }
    }
    .container {
        margin: 0 $base-margin;
    }

    .content-wrapper {
        @include container;
        padding: $base-padding;
        background: $color-white;
    }

    .content-preamble {
        p {
            @extend %preamble;
            @include p-max-width;
        }
    }

    .content-body {
        @include p-max-width;

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}