.standard-page {
    .container {
        margin: $base-margin;
    }

    .content-wrapper {
        @include container;
        padding: $base-padding;
        background: $color-white;
    }

    .content-preamble {
        p {
            @extend %preamble;
            @include p-max-width;
        }
    }

    .content-body {
        @include p-max-width;

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}