@using Lantmannen.Core;

<div class="header-navigation">

    <div class="header-navigation__list">
        <div type="button" class="header-navigation__menu-button"></div>
        @*@Html.MenuList()*@
    </div>

    <div class="header-navigation__logo">
        
    </div>

    <div class="header-navigation__login">
        Logga in@*Lägg i översättningsfil*@
    </div>
</div>

