* {
    box-sizing: border-box;
}

main {
    @include for-tablet-and-up {
        padding-top: $header-height;
    }
}

body {
	color: $color-text;
	margin: 0;
	background: $color-off-white;
}

a {
    color: $color-link;

    &:hover, &:active {
        text-decoration: underline;
    }
}

img {
	width: 100%;
	max-width: 100%;
}

.no-scroll {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.header {
	&__container {
		@include container;
		position: relative;
	}
}


.hide {
	display: none !important;
}
