$color-white: #fff;
$color-off-white: #f8f8f8;
$color-black: #000;
$color-grey: #666;
$color-blue-nice: #1568b3;
$color-blue-light-soft: #6caddf;
$color-blue-lightest-power: #b5d6ef;

$color-button: $color-blue-nice;
$color-link: $color-blue-nice;
$color-text: $color-black;