.list-wrapper {
    @include container;
    @include grid-container();

    &.list-onecolumn > div {
        @include grid-column(1);
    }

    &.list-twocolumn > div {
        @include grid-column(2);
    }

    &.list-threecolumn > div {
        @include grid-column(3);
    }

    &.list-fourcolumn > div {
        @include grid-column(4);
    }
}

.main {
    .content-body {
        .list {
            padding: 0;
            margin: 1rem 0;

            .list-title {
                @extend %p;
                font-weight: 400;
                color: $color-text;
                margin: 0;
                padding: 0;
                text-align: left;
            }
        }
    
        .callout-questionpage {
            margin: 0;
        }
    }
}