$base-margin: 1rem;
$base-padding: 1rem;

$grid-gap: 1rem;
$half-grid-gap: $grid-gap / 2;

$screen-width-sm: 768px;
$screen-width-lg: 1200px;

$container-width: 1200px;

$mobile-header-height: 100px;
$login-icon-height: 21px;