@mixin primary-btn {
	background: $color-button;
    color: $color-white;
    text-decoration: none;
    padding: 0.75rem 1rem;
	border-radius: 1.25rem;
	display: inline-block;
	margin: $base-margin;

	&:hover, &:active, &:focus {
		background-color: lighten($color-button, 5%);
		color: $color-white;
		text-decoration: none;;
	}
}
