@mixin grid-container() {
    display: flex;
    flex-wrap: wrap;
}

@mixin grid-column($columns) {
    width: 100%;
    margin: $half-grid-gap;

    @include for-phone-only {
        flex-direction: column;
    }

    @if $columns == 2 {
        @include for-tablet-and-up {
            width: calc(50% - #{$grid-gap});
            
        }
    }

    @if $columns == 3 {
        @include for-tablet-and-up {
            width: calc(33.333% - #{$grid-gap});

        }
    }

    @if $columns == 4 {
        
        @include for-tablet-and-up {
            width: calc(25% - #{$grid-gap});

        }
    }
}