// Accessibility
/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
@mixin visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

// Elements
@mixin hide-print {
    @media print {
        //scss-lint:disable ImportantRule
        display: none !important;
    }
}

// Layout mixins
@mixin container {
    width: 100%;
    margin: auto;
    max-width: $container-width;
    margin: 0 $base-margin;
    padding: 0 $base-padding;
}

@mixin p-max-width {
    max-width: 65ch;
}